<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
    <div fxFlex *ngIf="dish">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </md-card-title>
          </md-card-header>
          <img height="400px" width="" md-card-image src={{dish.image}} alt={{dish.name}}>
          <md-card-content>
            <p>{{dish.description}}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
              <button md-button (click)="goBack()">BACK</button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button md-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </md-card-actions>
          
        </md-card>
        <div [hidden]="dish">
          <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
        </div>
        
      </div>
      
</div>

<div fxFlex="40" >
  
    <md-list fxFlex *ngIf = "dish">
      <h3><strong>Comments</strong></h3>
       
   <md-list-item  *ngFor= "let d of dish.comments">
     
    <p  md-line>  {{d.comment}}</p>
   <p  md-line> {{d.rating}} Stars</p>
    <p  md-line>  --{{d.author }} {{d.date|date:'longDate'}}</p>
     
     
     
   </md-list-item>
      </md-list>
      
   
</div>

</div>

